<%= link_to "new one", new_text_post_path %>

<div>
  <% @text_posts.each do |textpost| %>
    <%= div_for textpost do %>
      ..............
      ..............
      <p>
        <%= link_to textpost.title, textpost %> | <%= textpost.content %>
      </p>
    <% end %>
  <% end %>
</div>